<!-- served from your routes in server.js -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notion internal integration example" />

    <title>Habit Tracker</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Habit Tracker Integration</h1>
    </header>

    <main>
      <table>
        <tr>
          <th>Create</th>
          <th>Response</th>
        </tr>
        <tr>
          <td>
            <h3>1. Create a new weekly habit tracker</h3>
            <form id="databaseForm">
              <label for="dbName">Name (eg WC 16th Sep 2024)</label>
              <input type="text" id="dbName" />
              <input type="submit" />
            </form>
          </td>

          <td id="dbResponse"></td>
        </tr>
      </table>
    </main>
  </body>
</html>

<!-- OLD BODY -->
<!-- <main>
      <h2>WC 16th September 2024</h2>

      <table>
        <tr>
          <th>Habit</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>
            <h3>1. Create a new database</h3>
            <form id="databaseForm">
              <label for="dbName">Database name</label>
              <input type="text" id="dbName" />
              <input type="submit" />
            </form>
          </td>
          
          <td id="dbResponse"></td>
        </tr>
        <tr>
          <td>
            <h3>2. Add a page to the database</h3>
            <form id="pageForm">
              <label for="newPageDB">Parent DB ID</label>
              <input type="text" id="newPageDB" />
              <label for="newPageName">New page name</label>
              <input type="text" id="newPageName" />
              <label for="header">Header 1</label>
              <input type="text" id="header" />
              <input type="submit" />
            </form>
          </td>

          <td id="pageResponse"></td>
        </tr>
        <tr>
          <td>
            <h3>3. Add content to the page</h3>
            <form id="blocksForm">
              <label for="pageID">Page ID</label>
              <input type="text" id="pageID" />
              <label for="content">Content</label>
              <input type="text" id="content" />
              <input type="submit" />
            </form>
          </td>

          <td id="blocksResponse"></td>
        </tr>
        <tr>
          <td>
            <h3>4. Add a comment to the content</h3>
            <form id="commentForm">
              <label for="pageIDComment">Page ID</label>
              <input type="text" id="pageIDComment" />
              <label for="comment">Comment</label>
              <input type="text" id="comment" />
              <input type="submit" />
            </form>
          </td>

          <td id="commentResponse"></td>
        </tr>
      </table>
    </main> -->
